.App {
  padding-top: 10px;
  background-color: #eaf2f8;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-calculadora {
  width: 400px;
  height: 610px;
  padding: 14px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 5px solid #b0c4de;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
